header{
    background-color: rgb(204, 51, 51);
    position: absolute;
    top: 0%;
}
body{
   margin: 0;
    padding: 0;
}
#frm{
    background-color: yellow;
    position: absolute;
    top: 40%;
   left: 40%;
}
footer{
    background-color: red;
    position: absolute;
    bottom: 0%;
}
#chat{
    background-color: yellow;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
}
#hist{
    overflow: auto;
    height: 90%;
}
#searched{
    overflow: auto;
    height: 90%;
}
#select{
    background-color: yellow;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
}
.loged{
    background-color: rgb(233, 15, 15);
    position: absolute;
    top: 0%;
    right: 0%;
}
#profile{
    background-color: yellow;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
}